/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a global font */

/* Global styles for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

/* Links */
a {
  color: #0070f3;
  text-decoration: none;
}
